C:\Users\Nathan Cao\OneDrive\Desktop\ct images analysis\cbct_head_phantom\head_phantom_cbct_analysis\360_projections_original.mat
360_projections_original.mat

C:\Users\Nathan Cao\OneDrive\Desktop\ct images analysis\cbct_head_phantom\head_phantom_cbct_analysis\360_projections_lesion_sim.mat
360_projections_lesion_sim.mat
